---
interface Props {
  titulo: string;
  descripcion: string;
  imagen: ImageMetadata;
  tecnologias: string[];
  slug?: string;
}

const {
  titulo,
  descripcion,
  imagen,
  tecnologias = [],
  slug = '',
}: Props = Astro.props;

import { Image } from "astro:assets";
import Tecnologias from "./Tecnologias.astro";


---

<article
  class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out dark:bg-gray-800"
>
  <Image
    src={imagen}
    alt={titulo}
    class="w-full h-48 object-cover"
    loading="lazy"
  />

  <div class="p-4">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-white" transition:name=`titulo-${slug}`>
      {titulo}
    </h3>
    <p class="text-gray-600 mt-2 text-sm dark:text-gray-300" transition:name=`des-${slug}`>{descripcion}</p>

    <Tecnologias tecnologias={tecnologias} />

    {slug && (
      <a
        href={`/proyectos/${slug}`}
        class="inline-block mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors"
      >
        Ver Proyecto
      </a>
    )}
  </div>
</article>
